# https://medium.com/@benmorel/creating-a-linux-service-with-systemd-611b5c8b91d6
[Unit]
Description=tinywww Web Service for static file serving
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=on-failure
RestartSec=1
User=nobody
ExecStart=/usr/bin/tinywww -logfile /var/log/bootstrap.log -statusfile /etc/issue

[Install]
WantedBy=multi-user.target